nav {
  --color1: lightblue;

  background-color:lightblue;
  border-bottom: 5px solid grey;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  height: 100px;
  width: 100;
}
.sort {
  display: grid;
  grid-auto-flow: row;
}