nav {
  --color1: lightblue;

  background-color:lightgreen;
  border-bottom: 5px solid grey;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-button {
  background-color: #EEEEEE;
  border: 3px solid #666666;
  padding: 10px 15px;

  /* cursor: default */
  cursor: pointer;
}

.navbar-button:hover {
  background-color: hotpink;
}

.navbar-button:not(:first-of-type) {
  border-left: none;
}

.navbar-search {
  background-color: honeydew;
  border: 3px solid var(--color1);
  border-radius: 50px;
  padding: 5px 20px;
}

.navbar-tweet {
  background-color: #EEEEEE;
  border: 3px solid var(--color1);
  border-radius: 50px;
  padding: 5px 20px;
  margin-left: 25px;
  cursor: pointer;
}
img{
  height: 100px;
  width: 100;
}
.sort {
  display: grid;
  grid-auto-flow: row;
}