.row {
  display: flex;
}

.column {
  border: 2px solid black;

  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%; */
  flex: 1 1 33%; /* shorthand for previous rules */

  /* width: 33.333%; */
  /* display: flex;
  align-items: center; */
}

